@model Chatbot2.Models.RespostaChat

@{
    ViewData["Title"] = "Delete";
}




<div style="background-color:white">
    <br />
    <h3 style="text-align:center">Tem Certeza que quer deletar?</h3>
    <hr />
    <dl style="align-content:center">
        <dt style="text-align:center">
            @Html.DisplayNameFor(model => model.Resposta)
        </dt>
        <dd  style="text-align:center">
            @Html.DisplayFor(model => model.Resposta)
        </dd>
        <dt  style="text-align:center">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd style="text-align:center">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>

    <form asp-action="Delete" id="maindiv2">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-success details" style=" height: 30px; margin-left: 10px" asp-action="Index">Back to List</a>
        <input type="submit" value="Delete" class="btn btn-danger delete" style="height: 30px; margin-left: 10px;" />
    </form>
    <div style="background-color:white;height:60px">

    </div>
</div>
