@{
    ViewData["Title"] = "Chat";
}
<br />


<div>

    <div>

        <textarea id="displaymensagem" cols="100" rows="20" style="margin-left:300px;opacity:0.3;background-color:black;color:white"></textarea>

        <br />
        <label style="margin-left:300px"> Mensagem :</label> <input type="text" id="mensagem" style="width:500px" />
        <input id="Enviar" type="button" value="Enviar"/>

    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/JavaScript.js"></script>
