@{
    ViewData["Title"] = "Home";
}


<section id="contato">
</section>

<section id="serviços">

    <div>
        <img src="/images/goal.png">
        <h3 style="color: white;">Objetivo</h3>
        <p style="color: white ;margin-top:20px">O chatbot foi desenvolvido com o intuito de ajudar pessoas a diagnosticar a covid-19.</p>
    </div>

    <div>
        <img src="~/images/int.png" alt="Suporte" style="width:50px;height:50px">
        <h3 style="color: white;">Como usar?</h3>
        <p style="color: white; margin-top: 20px">Acessa a aba ChatBot e inicie uma conversa com o nosso robô.</p>


    </div>

    <div>
        <img src="images/chat.png" style="width:50px;height:50px">
        <h3 style="color: white;">Disponibilidade</h3>
        <p style="color: white; margin-top:20px">O robô estará disponivel 24 horas por dia, você pode se comunicar com ele de graça e por tempo ilimitado.</p>



    </div>
</section>